<div class="total-transc">
  <p>Spent on <%= @category.name %>: <%= @category.sum_of_transactions %>₹ </p>
</div>
<div class="cat-show section">
  <h2 class="heading"> <%= @category.name %> </h2>
  <% if !@category.transactions.blank? %>
    <% @category.all_transactions.each do |transaction| %>
      <div class="each-transaction">
        <div class="transaction-heading">
          <%= image_tag url_for(@category.icon), class:"icon" %>
          <h3> <%= @category.name %> </h3>
        </div>
        <p> <%= transaction.name %> </p>
        <div class="transaction-details">
          <p>Payment: <%= transaction.amount %>₹ </p>
          <p> <%= transaction.created_at.strftime("%d %b %Y") %> </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="message" >No transactions yet!</p>
  <% end %>
</div>
<div class="primary-btn">
  <%= link_to "Create new transaction", new_user_category_transaction_path(current_user.id, @category.id), class:"create-btn"  %>
</div>
