<div class="main-form section">
  <h2>Create new transaction</h2>
  <%= form_with model: @transaction, url: user_category_transactions_path(current_user.id ), method: :post  do |f| %>
    <div class="form">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field">
        <%= f.label :amount %><br />
        <%= f.text_field :amount %>
      </div>
      <div class="field">
        <%= f.select :category_id, current_user.categories.map { |cat| [cat.name, cat.id] } %>
      </div>
      <div class="actions">
        <%= f.submit "Create transaction", class:"primary-btn" %>
      </div>
    </div>
  <% end %>
</div>
